{% extends "base.html" %}
{% block title %}about us{% endblock %}

{% block body %}
    <div class="col">
      <center>
        <img src="../static/images/aboutus.png" alt="aboutus_image" style="height:20rem">
      </center>
    </div>
    <div class="container">
      <div class="col">
        <center>
          <h3>About us</h3>
        </center>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur nisl nec porttitor fermentum. In felis tellus, volutpat et tincidunt at, suscipit id dolor. Integer arcu sem, lacinia a porta non, tincidunt ac nisl. Nam sit amet accumsan ipsum. Donec mollis turpis arcu, eget ornare arcu consectetur eget. Ut quis pellentesque mauris. Maecenas sed auctor enim. Nullam vel sollicitudin eros. Donec luctus pharetra justo, eu tincidunt sapien molestie ut. Sed ut urna mollis, vulputate est quis, bibendum dui. Pellentesque iaculis ultrices purus quis vehicula. Nam egestas nisi ut felis bibendum ornare. Etiam non augue ipsum. Morbi malesuada massa maximus lectus posuere pellentesque.</p>
      </div>
    </div>
{% endblock body%}