{% extends "base.html" %}
{% block title %}Hello{% endblock %}
{% block style %}
<style>
    body{
    background-image: url("../static/images/Background.jpg");
    }
</style>
{% endblock %}
{% block body %}
<form action="/defaultlogin" method="post">
<div class="container">
    <div class="container bg-light py-5 my-5" style="border-radius:10px">
    <center><h1  style="font-family:Serif">Login</h1></center>
      <div class="mb-3">
        <label class="form-label">Default ID</label>
        <input type="text" name="Name" class="form-control"/>

      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control"/>

      </div>
      <div class="mb-3">
        <p>Forgot Password? <a href="/Student/ForgotPassword">Click Here</a></p>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" >Sign in</button>
      </div>
    </div>
</div>
  </form>
{% endblock body%}