.about a {
  color: white;
}

.about a:hover {
  color: #04009a;
  padding-left: 10px;
  font-weight: bold;
  font-style: italic;
}

.big-banner{
  background-image: url(../imgs/Background.jpg);
  width: inherit;
  background-attachment: fixed;
  background-size: cover;
}

.login-box{
  margin:8rem;
}

.StudentHomeBanner{
  background-image: url(../imgs/StudentHomeBg.jpg);
  padding-top: 4rem;
}

/* Sticky Footer */
body{
  min-height: 100vh;
}
.Sticky-Footer{
  position: sticky;
  top: 100%
}
