{% extends "Proctorlayout.html" %}
{% block title %}Student Register{% endblock %}
{% block style %}
<style>
    body{
    background-image: url("../static/images/PLoginBG.png");
    }
</style>
{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="/Proctor/ProctorLogin" method="post" >
  {{ form.csrf_token }}
<div class="container-fluid big-banner p-1" >
    <div class="container login-box bg-light p-5" style="border-radius:10px;width:50%" >
      <div class="col-12 mb-3">
          <center><strong><h2 style="font-family:Serif">Employee Login</h2></strong></center>
        <label for="formGroupExampleInput" class="form-label mt-3">Employee Id</label>
        {{ form.EmployeeID(class_="form-control") }}
      </div>
      <div class="col-12 mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
       {{ form.Password(class_="form-control") }}
      </div>
      <div class="mb-3">
        <p>Forgot Password? <a href="/Proctor/ForgotPassword">Click Here</a></p>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" onclick="window.location = 'ProctorHome.php';">Sign in</button>
      </div>
    </div>
  </div>
</form>
  {% endblock body%}