{% extends "Proctorlayout.html" %}
{% block title %}Student Home{% endblock %}
{% block style %}
<style>
    body{
    background-image: url("../static/images/Background.jpg");
    }
</style>
{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container bg-light border p-3 mt-4" style="border-radius:10px">
    <form action="/Proctor/ForgotPassword" method="post">
    <center>
        <h2 style="font-family:Serif"><strong>Forgot Password ?</strong></h2>
    </center>
    {% if not data %}
    <div class="row">
        <label class="form-label">Enter Employee ID</label>
        <input type="text" class="form-control" name="USN" placeholder="Enter Employee ID "></input>
    </div>
        <input type="submit" class="btn btn-primary" name="SendUSN"></input>
    {% endif %}
    {% if data %}
    <div class="row">
        <label class="form-label">Enter Employee ID</label>
        <input type="text" class="form-control" name="USN" value="{{data.EmployeeID}}" placeholder="{{data.EmployeeID}}"></input>
    </div>
        <h5 class="mt-3"><strong>Answer these questions</strong></h5>
    <div class="row mb-3">
        <div class="col">
             <label class="form-label">{{data.PasswordQ1}}</label>
            <input type="text" class="form-control" name="PasswordA1" placeholder="Answer "></input>
        </div>
        <div class="col">
            <label class="form-label">{{data.PasswordQ2}}</label>
        <input type="text" class="form-control" name="PasswordA2" placeholder="Answer"></input>
        </div>
    </div>
        <div class="row mb-3">
        <div class="col">
            <label class="form-label">Enter Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password" id="Proc_Password1" oninput="Validate_Password('Proc_Password1','Proc_Password2','Password_Error')"></input>
        </div>
        <div class="col">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="Confirm_Password" placeholder="Re-Enter Password" id="Proc_Password2" oninput="Validate_Password('Proc_Password1','Proc_Password2','Password_Error')"></input>
        </div>
    </div>
    <span id="Password_Error" style="color:red"></span>
    <input type="submit" class="btn btn-primary" name="ChangePassword"></input>
    {% endif %}
    </form>
</div>

{% endblock body%}